/ChatGPT Image 26 يونيو 2026، 06_57_22 م.png
/data_integration_backup.ipynb
/data_preperation_english.ipynb
/data_preperation_rewritten.ipynb
/real_estate_dashboard_carousel_post7.pdf
/real_estate_kpi_carousel.pdf
/real_estate_master_dataset_carousel.pdf
/real_estate_nan_carousel.pdf
/Recording 2026-05-16 230938.mp4
/Screenshot 2026-06-26 185833.png